*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #f2f2f2;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    height: calc(80vh - 20px);
    width: calc(75vw - 20px);
    background-color: white;
    border: 1px solid black;
}
.header_container {
    height: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}
.header {
    width: 100%;
    height: 72px;
    background-color: #161616;
    color: #161616;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.button_container {
    max-width: 200px;
    display: flex;
    padding: 10px;
}
.search_icon_div {
    padding-right: 10px;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    margin: 10px;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #252525;
    z-index: 1;
}
main
{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

h2 {
    margin-top: 10px;
    color: white;
    font-size: 25px;
}

h3 {
    font-size: 22px;
    color: white;
    margin: 0;
    padding-top: 5px;
    float: left;

}

h3 span {
    color: #FFC700;
}

h5 {
    display: inline;
    letter-spacing: 1.5px;
    font-family: 'Poppins', sans-serif;
    padding: 0px 0 0 5px;
    font-size: 16px;
    color: #45A6FF;
}

h6 {
    padding-top: 5px;
    margin-top: 12px;
    font-size: 16px;
    color: #BFBFBF;
    float: left;
    clear: both;
}

h2 span {
    color: #FFC700;
}

.menu_icon_div:hover {
    background-color: #414141;
}

.search_icon_div:hover {
    background-color: #414141;
}

.button_search {
    width: 100%;
    height: 30px;
    border-radius: 40px;
    padding: 0 20px;
}

.button_search::placeholder {
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

input[type="text"] {
    padding: 12px;
}

.underheader {
    position: relative;
    background: #DFB51E;
    margin-top: 72px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
}

.underheader_list {
    font-size: 28px;
    color: white;
    display: flex;
    margin: 0 333px;
    height: 60px;
    align-items: center;
}

.underheader_list li a {
    display: block;
    width: 314px;
    height: 60px;
    color: white;
    text-align: center;
    line-height: 60px;
}

.underheader_list li a:hover {
    background-color: #b69215;
}

.news_feed {
    display: grid;
    grid-template-columns: 551px 473px;
    grid-template-rows: 96px 1px 96px 1px 96px 1px 96px;
    grid-column-gap: 92px;
    grid-row-gap: 38px;
}


.main_news {
    grid-row: 1/span 7;
}

.main_news div {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    width: 532px;
    margin: 0 10px 0 10px;
}

.main_news div h4 {
    margin: 10px 0 0 0;
    font-size: 16px;
    color: #757575;
}

.main_news img {
    margin-bottom: 10px;
}

.last_news_1 {

    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 450px;
    height: 96px;
}

.last_news_1 h6 {
    white-space: nowrap;
    position: relative;
    top: 50px;
    right: 300px;
    width: 0px;
}

.last_news_1 img {
    float: right;
    width: 144px;
    height: 96px;
}

.last_news_2 {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 473px;
    height: 96px;
}

.last_news_2 h6 {
    margin-top: 0px;
}

.last_news_2 img {
    float: right;
    width: 144px;
    height: 96px;
}

.last_news_3 {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 473px;
    height: 96px;
}

.last_news_3 h6 {
    margin-top: 0px;
}

.last_news_3 img {
    float: right;
    width: 144px;
    height: 96px;
}

.last_news_4 {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 473px;
    height: 96px;
}

.last_news_4 h6 {
    margin-top: 0px;
}

.last_news_4 img {
    float: right;
    width: 144px;
    height: 96px;;
}

.line {
    border-bottom: 1px solid #FFC700;
    margin-bottom: 20px; /* чтобы добавить отступ между линией и следующим блоком */
}

.osvita_top {
    width: 1138px;
    background-color: #FFC700;
}

.osvita_word {
    font-size: 26px;
    color: #FFFFFF;
}

.osvita_bottom {
    width: 1138px;
    background-color: #FFC700;
}

.osvita_news {
    padding-top: 15px;
    width: 344px;
    display: grid;
    padding-left: 95px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 96px 1px 96px 1px 96px;
    grid-column-gap: 25px;
    grid-row-gap: 20px;
    justify-content: center;
}
.line_osvita_news{
    border-bottom: 1px solid #FFC700;
    margin-bottom: 20px;
    width: 375px;
    margin-left: 5px;
}

.osvita_news img {
    margin-bottom: 4px;
    height: 210px;
    width: 344px;
}

.osvita_news h2 {
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
}

.osvita_news h4 {
    padding-left: 10px;
    font-weight: bold;
    font-size: 16px;
    color: #757575;
}

.osvita_news h6 {
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 10px;
    font-size: 16px;
    color: #BFBFBF;
    float: left;
    clear: both;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.big_osvita_news_1 {
    grid-row: 1/span 5;
}
.big_osvita_news_1 h6{
    padding-top: 10px;
}
.small_osvita_news_1{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 473px;
    height: 96px;
}
.small_osvita_news_1 h3
{
    padding-top: 20px;
    font-size: 18px;

}
.small_osvita_news_1 img{
    float: right;
    width: 96px;
    height: 96px;
    margin-right: 90px;
}

.small_osvita_news_1 h6 {
    font-size: 15px;
    white-space: nowrap;
    position: relative;
    top: 65px;
    right: 260px;
    width: 0px;
}
