.header{
    position: fixed;
    padding: 0;
    height: 72px;
    width: 100%;
    background-color: #161616;
    z-index: 999;
}
.header_container{
    display: flex;
    max-width: 1116px;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}
.header .container{
    height: 72px;
}
.menu_logo_search_icon{
    display: flex;
}
.menu_icon{
    height: 72px;
    width: 72px;
    background-color: #161616;
}
.menu_icon:hover{
    background-color: #444444;
    transition: all 0.1s ease-in-out;
}
.menu_icon:not(:hover)
{
    transition: all 0.3s ease-in-out;
}
.logo_icon{
    display: flex;
    width: 166px;
    margin-left: -72px;
}
.search_icon{
    height: 72px;
    width: 72px;
    background-color: #161616;
}
.search_icon:hover{
    background-color: #444444;
    transition: all 0.1s ease-in-out;
}
.search_icon:not(:hover)
{
    transition: all 0.3s ease-in-out;
}
.profile_icon{
    position: relative;
    width: 72px;
    height: 72px;
    background-color: #161616;
}
.profile_icon:hover{
    background-color: #444444;
    transition: all 0.1s ease-in-out;
}
.profile_icon:not(:hover)
{
    transition: all 0.3s ease-in-out;
}

.searching_space{
    display: flex;
    background-color: white;
    border-radius: 17px;
    min-width: 596px;
    min-height: 34px;
    justify-content: end;
}
.search{
    min-height: 34px;
    min-width: 105px;
    position: relative;
    border-radius: 17px !important;
    color: white;
}
.searching_space input{
    padding: 0 15px 0 15px;
    position: relative;
    border-radius: 17px;
    display: inline-block;
    min-width: 515px;
}
.searching_space input::placeholder{
}
.searching_area{
    position: absolute;
    display: flex;
    width: 100%;
    min-height: 50px;
    background-color: #626262;
    top: 72px;
    z-index: 5;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out; /* добавляем плавную анимацию */
}

.block-active.searching_area{
    transform: translateY(0%);
}

.block-inactive.searching_area{
    transform: translateY(-100%);
}








