.news_feed{
    margin-top: 150px;
    height: auto;
    position: relative;
}
.news_feed .container{
    display: grid;
    column-gap: 96px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 497px));
    grid-template-rows: repeat(auto-fit, minmax(0, auto));
    row-gap: 15px;
}
.main_news{
    position: relative;
    max-height: 530px;
    max-width: 557px;
    font-family: 'Roboto', sans-serif;
    grid-row: 1/span 4;
}
.genre{
    padding-top: 10px;
    padding-left: 5px;
    font-size: 17px;
    color: cornflowerblue;
}
.news_name{
    font-size: 23px;
    color: white;
    padding-top: 10px;
    padding-left: 12px;
    padding-right: 12px;
}
.main_news span{
    color: #FFC700;
}
.main_news_img img{
    max-height: 309px;
    max-width: 497px;
}
.news_description{
    font-size: 18px;
    color: #9D9D9D;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
}
.main_news h6{
    position: absolute;
    top: 480px;
    padding-left: 10px;
}
.line_last_news{
    margin-left: 10px;
    height: 1px;
    background-color: #DFB51E;
    grid-column: 1 / -1;
}

.last_news{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.last_news h6{
    padding-left: 15px;
}
.last_news span{
    color: #DFB51E;
}

.last_news_img{
    grid-column: 2;
}
.last_news_img img{
    max-height: 96px;
    max-width: 144px;
}

@media screen and (max-width: 1089px) {
    .container {
        justify-content: center;
    }
    .line{
        display: none;
    }
    .partition_news {
        max-height: 550px;
    }
    .partition_news .container {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-template-rows: auto; /* автоматическая высота строк */
        grid-gap: 20px; /* расстояние между элементами */
    }
    .main_news h6{
        position: absolute;
        top: 290px;
        right: 0;
        padding-left: 10px;
    }
    .main_news {
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 800px) {
    .partition_news {
        max-height: 1200px;
    }
}




