.blur{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 5, 60%);
    backdrop-filter: blur(5px);
}
.login{
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}
.login_area {
    background-color: #494949;
    min-height: 460px;
    min-width: 419px;
    border-radius: 34px;
}
.close_btn{
    position: relative;
    left: 50px;
    bottom: 15px;
    border-radius: 100px !important;
}
.logo_login {
    position: relative;
    left: 127px;
    top: 19px;
    display: flex;
    justify-content: space-between;
    width: 166px;
    height: 64px;
}

.tip_log {
    position: relative;
    display: block;
    right: 90px;
    left: 75px;
    top: 45px;
    min-width: 130px;
    min-height: 24px;
    color: white;
    font-size: 16px;
}

input {
    border-radius: 21px;
    min-width: 297px;
    min-height: 47px;
    padding: 0 15px 0 15px;
}
input::placeholder{
    color: #393939;
}

.e-mail {
    display: flex;
    position: relative;
    min-width: 307px !important;
    height: 47px;
    top: 47px;
    border-radius: 21px;
    justify-content: center;
}

.password {
    display: flex;
    position: relative;
    min-width: 307px !important;
    top: 60px;
    height: 47px;
    border-radius: 21px;
    justify-content: center;
}
.acception{
    position: relative;
    top: 90px;
    left: 55px;
    font-size: 16px;
    color: white;
}
.login_btn{
    max-height: 50px;
    min-width: 200px !important;
    left: 50px;
    border-radius: 15px !important;
}
.statement{
    position: relative;
    left: 70px;
    top: 110px;
    font-weight: bold;
}
.statement span{
    display: block;
    font-size: 16px;
}
.statement span{
    color: white;
}
.statement a{
    color: #DFB51E;
}
.statement a:active{
    color: white !important;
}


