/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #252525;
    font-family: Roboto, sans-serif;
    padding: 0 !important;
    overflow-y: scroll !important;
}
#root {
    height: 100%;
}
.App {
    height: 100%;
    margin-bottom: -72px;
}
.main{
    flex: 1 1 auto;
}
.container{
    max-width: 1116px;
    margin: 0 auto;
}
h6{
    font-size: 18px;
    color: #BFBFBF;
    font-family: Roboto, sans-serif;
}
.wrapper{
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

@media screen and (max-width: 975px) {
    .container {
        justify-content: center;
    }
    .line{
        display: none;
    }
    .partition_news .container {
        display: grid;
        grid-template-columns: 1fr; /* одна колонка, занимающая всю ширину родителя */
        grid-template-rows: auto; /* автоматическая высота строк */
        grid-gap: 20px; /* расстояние между элементами */
    }
}
@media screen and (max-width: 875px) {
    .container {
        justify-content: center;
    }
    .line{
        display: none;
    }
    .partition_news .container {
        display: grid;
        grid-template-columns: 1fr; /* одна колонка, занимающая всю ширину родителя */
        grid-template-rows: auto; /* автоматическая высота строк */
        grid-gap: 20px; /* расстояние между элементами */
    }
}
@media screen and (max-width: 775px) {
    .container {
        justify-content: center;
    }
    .line{
        display: none;
    }
    .partition_news .container {
        display: grid;
        grid-template-columns: 1fr; /* одна колонка, занимающая всю ширину родителя */
        grid-template-rows: auto; /* автоматическая высота строк */
        grid-gap: 20px; /* расстояние между элементами */
    }
}
@media screen and (max-width: 675px) {
    .container {
        justify-content: center;
    }
    .line{
        display: none;
    }
    .partition_news .container {
        display: grid;
        grid-template-columns: 1fr; /* одна колонка, занимающая всю ширину родителя */
        grid-template-rows: auto; /* автоматическая высота строк */
        grid-gap: 20px; /* расстояние между элементами */
    }
}
@media screen and (max-width: 600px) {
    .container {
        justify-content: center;
    }
    .line{
        display: none;
    }
    .partition_news .container {
        display: grid;
        grid-template-columns: 1fr; /* одна колонка, занимающая всю ширину родителя */
        grid-template-rows: auto; /* автоматическая высота строк */
        grid-gap: 20px; /* расстояние между элементами */
    }
}
@media screen and (max-width: 768px) {
    .partition_news .container {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .big_partition_news {
        grid-row: auto;
    }

}
