.Registration{
    background-color: #494949;
    min-height: 655px;
    min-width: 419px;
    border-radius: 34px;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}
.blur_reg{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 5, 60%);
    backdrop-filter: blur(5px);
}
.tip_reg{
    display: block;
    min-width: 130px;
    min-height: 24px;
    color: white;
    font-size: 16px;
}
.e-mail_reg{
    display: flex;
    min-width: 307px !important;
    height: 47px;
    border-radius: 21px;
    justify-content: center;
}
.user_name{
    display: flex;
    position: relative;
    min-width: 307px !important;
    height: 47px;
    top: 60px;
    border-radius: 21px;
    justify-content: center;
}
.user_surname{
    display: flex;
    min-width: 307px !important;
    height: 47px;
    border-radius: 21px;
    justify-content: center;
}
.user_sex{
    min-width: 298px !important;
    height: 47px;
    top: 86px;
    left: 60px;
    border-radius: 21px;
    justify-content: center;
    font-size: 16px;
    padding: 5px 12px;
    color: #393939;
}
.user_sex option{
    padding: 0 15px 0 15px;
}
.user_date{
    min-width: 307px !important;
    border-radius: 21px;
}
.user_date input[type="date"] {
    color: #393939;
}

.password_reg{
    display: flex;
    min-width: 307px !important;
    border-radius: 21px;
    justify-content: center;
}
.checkbox{
    display: flex;
    max-width: 290px;
    max-height: 50px;
}
.checkbox span{
    padding-top: 17px;
}
.checkbox a{
    color: #FFC700;
}

